/* ===== DASHBOARD LAYOUT ===== */

.dashboard {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
  background: #f4f7fb;
  min-height: calc(100vh - 60px); /* navbar height adjust */
}

/* ===== COMMON CARD STYLE ===== */

.brand,
.college,
.username {
  color: #000;
}


.card {
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.card-header {
  padding: 16px 20px;
  border-bottom: 1px solid #eee;
}

.card-header h2 {
  margin: 0;
  font-size: 18px;
  text-align: center;
   color: #000;

}

.card-body {
  padding: 20px;
  flex: 1;
}




/* ===== ANNOUNCEMENTS ===== */

.announcements {
  height: fit-content;
}

.empty-state {
  text-align: center;
  color: #777;
  font-size: 14px;
  line-height: 1.6;
  padding: 40px 10px;
}

/* ===== TIMETABLE ===== */

.timetable table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.timetable th,
.timetable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

.timetable th {
  background: #000;
  color: #fff;
  font-weight: 600;
}


.timetable td {
  background: #fff;
}

.empty-table {
  color: #888;
  font-style: italic;
  padding: 30px 0;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 900px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}





/* ===== NAVBAR ===== */

.navbar {
  height: 60px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brand {
  font-weight: 700;
  font-size: 18px;
}

.divider {
  color: #999;
}

.college {
  font-size: 14px;
  color: #555;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logout-btn {
  border: none;
  background: #f44336;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;   /* remove underline */
  cursor: pointer;
}

.profile-box:hover .username {
  color: #2f6fed;          /* 🔥 blue on hover */
}
.avatar {
  width: 36px;
  height: 36px;
  background: #000;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.username {
  font-size: 14px;
  font-weight: 500;
}
