.profile-container {
  display: flex;
  justify-content: center;
}

.profile-card {
  background: #fff;
  position: relative;
  width: 80%;
  display: flex;
  padding: 30px;
  border-radius: 12px;
  gap: 30px;
}

.profile-left {
  width: 30%;
  text-align: center;
  border-right: 1px solid #eee;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile-right {
  width: 70%;
  padding-left: 10px;
}


.form-group {
  display: grid;
  grid-template-columns: 150px 1fr; /* label | input */
  align-items: center;
  margin-bottom: 18px;
}


input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}




.save-btn {
  background: #2c3e50;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
}
.edit-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #2c3e50;
  color: #fff;
  border: none;
  padding: 4px 10px;   /* smaller */
  border-radius: 5px;
  font-size: 13px;     /* smaller text */
  cursor: pointer;
}

.edit-btn:hover {
  background: #1f2d3d;
}


.save-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
}

label {
  font-weight: 500;
  color: #333;
}

